body {
	/* taken from jquery-style to aling the display */
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

.wrapper {
	margin: 10px 5%;
	width: 90%;
}

#results {
	float: right;
}

.entry {
	border: 1px solid blue;
	padding: 7px;
	border-radius: 7px;
	margin-top: 10px;
	min-width: 360px; /* from Nokia display */
	width: 70%;
}

.logo {
	color: blue;
	height: 125%;
	font-family: 'comic sans ms', 'century gothic';
}

.detail {
	display: none;
}

#footer {
	font-size: 75%;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
